<a routerLink="/homepage" routerLinkActive="active" ariaCurrentWhenActive="page"style="color:black;text-decoration:none"><i class="material-icons">home</i> Home</a>
<a routerLink="/emailpage" routerLinkActive="active" ariaCurrentWhenActive="page"style="color:black;text-decoration:none"><i class="material-icons">email</i>Email</a>
<a routerLink="/crudpage" routerLinkActive="active" ariaCurrentWhenActive="page"style="color:black;text-decoration:none"><i class="material-icons">folder</i>Crud</a>
<a routerLink="/aboutpage" routerLinkActive="active" ariaCurrentWhenActive="page"style="color:black;text-decoration:none"><i class="material-icons">person</i>About me</a>





