.material-icons{
    display: inline-flex;
    vertical-align: middle;
    font-size:30px;
    
}
a{
    background-color: #1976d2;
    text-decoration: none;
    border: none;
}
a:hover {
    opacity: 0.5;
    font-weight: normal;
  }